<!DOCTYPE html>
    <html>
            <head>
                <title>Mis-informed</title>
            </head>
            <body>
                <h1>Misinformed</h1>
                <p>Enter a URL to check if it is misinformation</p>
                <form action="/check" method="POST">
                    <input required type="input" id="url" name="url" placeholder="Input Site URL" />
                    <input type="submit" value="Check" />
                </form>
                {% if site %}
                    <p>The likelyhood of false information is {{ informative_percent }}% for {{site}} which is {{safetyResult}} misinformation </p>
                {% endif %}
            </body>
    </html>